<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <h1>Welcome to the WebApps social app</h1>
    <p>Register or login to start</p>
</body>
<%- include('../partials/footer') %>