<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <h1>Logout</h1>
    <form action="/logout" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
<%- include('../partials/footer') %>