    form {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        /* border: 1px solid #fcf0d4; */
        border-radius: 5px;
        background-color: #F9F0F3;
        font-family: helvetica;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        color: #051014;
        font-weight: bold;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: none; /* Remove default border */
        border-radius: 0; /* Remove default border radius */
        border-bottom: 1px solid #051014; /* Add bottom border */
        background-color: transparent; /* Make background transparent */
    }

    input[type="text"]:focus, input[type="password"]:focus {
        outline: none; /* Remove outline on focus */
    }
        
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #832232;
        color: #F9F0F3;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #051014;
    }

