<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <h1>About</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde fugit dolor ut error veritatis eius possimus, autem sint adipisci vero exercitationem quasi laborum excepturi cumque nisi! Asperiores molestias alias repellendus.</h2>
</div>

<%- include('../partials/footer') %>